{{#if addNewAnswer}}
<h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="answer_author">Author</label>
        {{input value=answer_author id="answer_author"}}
      </div>
      <div class="form-group">
        <label for="answer_content">Content</label>
        {{input value=answer_content id="answer_content"}}
      </div>
      <button {{action 'saveAnswer'}} class="btn blue">Save</button>
    </form>
  </div>
{{else}}
<br>
  <button {{action 'answerFormShow'}} class="btn blue">Answer</button>
{{/if}}
