{{#if addNewQuestion}}
<h4>Ask a question</h4>
<div>
  <form>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="content">Content:(Ask a question here)</label>
      {{input value=content id="content"}}
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      {{input value=notes id="notes"}}
    </div>
    <button {{action 'saveQuestion1'}} class="btn green">Save</button>
  </form>
</div>
{{else}}
<button {{action 'questionFormShow'}} class="btn aqua">New Question</button>
{{/if}}
