{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s {{question.content}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="content">Question/Content</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        {{input value=notes id="notes" placeholder=question.notes}}
      </div>

      <button {{action 'update' question}} class="btn green">Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateQuestionForm'}} class="btn orange">Update</button>
{{/if}}
