<div class="jumbotron">
  <h2 id="indexjumbo">Dev Talk </h2>
</div>

<h5 id="add_quest">Add or answer a question below</h5>
<div class="well">
  <ul class="collection">
    {{#each model.questions as |question|}}
       {{question-tile question=question}}
    {{/each}}
  </ul>
</div>


{{new-question saveQuestion2="saveQuestion3"}}


<h2 id="all_answers"> All Answers </h2>
  <div class="well">
    <ul class="collection">
      {{#each model.answers as |answer|}}
        <li class="collection-item">{{answer.answer_content}}  by {{answer.answer_author}}</li>
      {{/each}}
    </ul>
  </div>


{{new-answer saveAnswer="saveAnswer"}}
