<h2>{{model.author}} asks: {{model.content}}</h2>
<h5>Additional Notes: {{model.notes}}</h5>

{{update-question question=model update="update"}}

{{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}

{{new-answer saveAnswer="saveAnswer" question=model}}
