<h2>More information about {{model.author}}'s {{model.content}}</h2>
{{question-detail question=model}}

{{update-question question=model update="update"}}

{{question-detail question=model destroyQuestion="destroyQuestion"}}
